<style>
  #map {
    width: 100%;
    height: 300px;
  }
</style>
<div id="institution-app"></div>
<script type="text/javascript" charset="utf-8">
  (function() {
   var is_signed_in = JSON.parse('<%= current_user != nil %>');
   var current_user_id = "";
   var username = "";
   var is_on_exchange = false;

   if (is_signed_in) {
     <% if current_user != nil %>
       current_user_id = "<%= current_user.id.to_s %>";
       username = "<%= current_user.username.to_s %>";
       is_on_exchange = JSON.parse('<%= current_user.exchange_institution != nil %>');
     <% end %>
   }

   React.render(React.createElement(
         InstitutionApp, {institution_id: <%= @institution.id %>,
           is_signed_in: is_signed_in,
           current_user_id: current_user_id,
           username: username,
           is_on_exchange: is_on_exchange}),
       document.getElementById("institution-app"));
   })();
</script>
