<li class="collection-item avatar clearfix">
  <span class="title">Subject: <%= link_to conversation.subject, conversation_path(conversation), class: 'mailboxer-blue-text' %></span>


  <p>Participant(s): <%= render 'conversations/participants', conversation: conversation %></p>
  <p>Message: <%= simple_format(conversation.last_message.body) %>
    <small>
      (<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)
    </small>
  </p>


    <% if conversation.is_trashed?(current_user) %>
      <%= link_to 'Restore', restore_conversation_path(conversation), class: 'secondary-content mailboxer-blue-text', method: :post %>
    <% else %>
      <div class="secondary-content">
        <%= link_to 'Reply', conversation_path(conversation), class: 'mailboxer-blue-text right-buffer' %>
        <%= link_to 'Delete', conversation_path(conversation), class: 'mailboxer-blue-text', method: :delete,
                    data: {confirm: 'Are you sure?'} %>
      </div>
    <% end %>
</li>
