<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s3">
        <h4 class="primary-text-color">Chatting with
          <%= render 'conversations/participants', conversation: @conversation %>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col s8 offset-s3">
        <div class="panel panel-default">
          <div class="row">
            <div class="col s12">
              <h5 class="primary-text-color"><b>Subject:</b> <%= @conversation.subject %></h5>
            </div>
          </div>

          <div class="panel-body">
            <div class="messages">
              <ul class="collection">
                <% @conversation.receipts_for(current_user).each do |receipt| %>
                <li class="collection-item avatar">
                  <% message = receipt.message %>
                  <%= image_tag message.sender.image_url, class: "circle", alt: message.sender.first_name %>

                  <span class="title"><%= message.sender.first_name + " " + message.sender.last_name %>
                    says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span><br/><br/>

                  <%= message.body %>
                </li>
                <% end %>
              </ul>
            </div>
          </div>

          <%= form_tag reply_conversation_path(@conversation), method: :post do %>
            <div class="form-group">
              <%= text_area_tag 'body', nil, cols: 3, class: 'materialize-textarea form-control', placeholder: 'Reply here...', required: true %>
            </div>
            <%= submit_tag "Send Message", class: 'btn btn-primary right' %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
