<div id="index-banner" class="parallax-container">
  <div class="section">
    <div class="row nav-wrapper hide-on-med-and-down">
      <div class="col s10 offset-s2">
        <% unless user_signed_in? %>
          <ul class="valign-wrapper right">
            <li class="valign">
              <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), class: "waves-effect waves-light btn primary-color", id: "main-signup-button" %>
            </li>
          </ul>
        <% end %>
        </div>
    </div>
  </div>
  <div class="section" id="main-banner">
    <div class="container">
      <div class="row center reset-margins">
        <%= image_tag "exchangehunt_logo.png", id: "main-banner-logo" %>
      </div>
      <div class="row center">
        <h4 class="flow-text header col s12 light avenir-45">where global exchange students meet and connect</h4>
      </div>
      <div class="row center">
        <div id="multiple-datasets">
          <input id="search-field" class="typeahead" type="text" placeholder="Search universities, or countries">
        </div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <div class="overlay-black"></div>
    <img src="assets/background1.png" alt="Main banner">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row top-buffer center">
      <h2 class="primary-text-color"><span class="avenir-65">What is exchange</span><span class="avenir-85">hunt</span><span class="avenir-65">?</span></h2>
    </div>
    <div class="row bottom-buffer center">
      <h5 class="avenir-45"><span class="avenir-65">exchange</span><span class="avenir-85">hunt</span> is a trusted community for exchange <br /> students all around the world to connect with each <br /> other and build friendships.</h5>
    </div>
  </div>
</div>

<div id="index-banner" class="parallax-container">
  <div class="container">
    <div class="section">
      <div class="row top-buffer">
        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center">
              <%= image_tag "landing_page_find", class: "responsive-img" %>
            </div>
            <h5 class="center avenir-95">FIND</h5>
            <p class="avenir-55 center-align">your fellow friends exchanging in <br /> your region to travel together,<br /> crash at each other’s couches,<br /> or simply to ask about his/her student exchange experience!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center">
              <%= image_tag "landing_page_connect", class: "responsive-img"%>
            </div>
            <h5 class="center avenir-95">CONNECT</h5>
            <p class="avenir-55 center-align">with them by sending <br /> them a “hello” message!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <div class="center">
              <%= image_tag "landing_page_build", class: "responsive-img" %>
            </div>
            <h5 class="center avenir-95">BUILD</h5>
            <p class="avenir-55 center-align">international friendships <br /> and lasting memories in your<br /> once in a lifetime student exchange experience</p>
          </div>
        </div>

        <% unless user_signed_in? %>
          <div class="col s12 m12">
            <div class="center">
              <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), class: "waves-effect waves-light btn-large btn-cta primary-color" %>
            </div>
          </div>
        <% end %>

      </div>

    </div>
  </div>
  <div class="parallax">
    <div class="overlay-black2"></div>
    <img src="assets/background3.jpg" alt="Main banner">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row top-buffer">
      <div class="col s12 center">
        <h2 class="primary-text-color">
          <span class="avenir-65">Participating Universities</span>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="center">
          <%= link_to image_tag("logo_nus.png", :alt => "National University of Singapore logo", :class => "responsive-img imagedropshadow"), "institutions/1" %>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center">
          <%= link_to image_tag("logo_ntu.png", :alt => "Nanyang Technological University logo", :class => "responsive-img imagedropshadow"), "institutions/2" %>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center">
          <%= link_to image_tag("logo_smu.png", :alt => "Singapore Management University logo", :class => "responsive-img imagedropshadow"), "institutions/3" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="center">
          <%= link_to image_tag("logo_harvard.png", :alt => "Harvard University logo", :class => "responsive-img imagedropshadow"), "institutions/5" %>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center">
          <%= link_to image_tag("logo_mit.png", :alt => "Massachusetts Institute of Technology logo", :class => "responsive-img imagedropshadow"), "institutions/7" %>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center">
          <%= link_to image_tag("logo_cornell.png", :alt => "Cornell University logo", :class => "responsive-img imagedropshadow"), "institutions/13" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 bottom-buffer center">
        <h6>And many more...</h6>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  (function() {

   $("#search-field").keyup(function(e) {
       if (e.keyCode === 13) {
          var search_term = $("#search-field").val();
          document.location.href = "/search?q=" + search_term;
       }
     }
   );

   //React.render(React.createElement(
   //      SearchBar, {}),
   //    document.getElementById("search-bar"));
   //
   })();
 </script>

 <%= render 'shared/typeahead' %>
