<div id="index-banner" class="parallax-container">
  <div class="section">
    <div class="nav-wrapper container right hide-on-med-and-down">
        <% if !user_signed_in? %>
          <ul class="right valign-wrapper">
            <li class="valign right">
              <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "waves-effect waves-light btn primary-color", id: "main-signup-button" %>
            </li>
            <li>
              <%= link_to "Log in", user_omniauth_authorize_path(:facebook), class: "waves-effect waves-light btn btn-flat white-text", id: "main-login-button" %>
            </li>
          </ul>
        <% end %>
    </div>
  </div>
  <div class="section" id="main-banner">
    <div class="container">
      <div class="row center reset-margins">
        <%= image_tag "exchangehunt_logo.png", id: "main-banner-logo" %>
      </div>
      <div class="row center">
        <h4 class="flow-text header col s12 light avenir-45">where global exchangers meet and connect</h4>
      </div>
      <div class="row center">
        <div id="search-bar"></div>
      </div>
    </div>
  </div>
  <div class="parallax">
    <div class="overlay-black"></div>
    <img src="assets/background1.png" alt="Main banner">
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row center">
      <h2 class="primary-text-color"><span class="avenir-65">What is exchange</span><span class="avenir-85">hunt</span><span class="avenir-65">?</span></h2>
    </div>
    <div class="row center">
      <h5 class="avenir-45"><span class="avenir-65">exchange</span><span class="avenir-85">hunt</span> is a trusted community for student <br /> exchangers all around the world to connect with each <br /> other and build friendships.</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <div class="center">
            <%= image_tag "landing_page_find", class: "responsive-img" %>
          </div>
          <h5 class="center avenir-95">FIND</h5>
          <p class="avenir-55 center-align">your fellow exchangers in <br /> your region to travel together,<br /> crash at each other’s couches,<br /> or simply to ask about his exchange’s experience!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <div class="center">
            <%= image_tag "landing_page_connect", class: "responsive-img"%>
          </div>
          <h5 class="center avenir-95">CONNECT</h5>
          <p class="avenir-55 center-align">with them by sending <br /> them a “hello” message!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <div class="center">
            <%= image_tag "landing_page_build", class: "responsive-img" %>
          </div>
          <h5 class="center avenir-95">BUILD</h5>
          <p class="avenir-55 center-align">international friendships <br /> and lasting memories in your<br /> once-in-a-lifetime exchange experience</p>
        </div>
      </div>


      <div class="col s12 m12">
        <div class="center">
          <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "waves-effect waves-light btn-large btn-cta primary-color" %>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h5>Participating Universities</h5>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="center">
          <%= image_tag "logo_nus.png", class: "responsive-img" %>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center">
          <%= image_tag "logo_ntu.png", class: "responsive-img" %>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="center">
          <%= image_tag "logo_smu.png", class: "responsive-img" %>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  (function() {
   React.render(React.createElement(
         SearchBar, {}),
       document.getElementById("search-bar"));
   })();
 </script>
