<div class="navbar-fixed">
  <nav class="primary-color" role="navigation">
    <div class="nav-wrapper container hide-on-med-and-down">
      <ul class="left valign-wrapper">
        <li>
          <%= link_to image_tag("exchangehunt_logo_mascot.png", :alt => "Exchange Hunt Mascot Icon", :class => "valign"), root_path %>
        </li>
        <% if user_signed_in? %>
          <% unless current_user.home_institution.nil? %>
            <li class="<%= 'active' if params[:controller] == 'institutions' %>">
              <%= link_to current_user.home_institution.name, institution_path(current_user.home_institution), class: "truncate" %>
            </li>
          <% else %>
            <li>&nbsp;</li>
          <% end %>
          <% unless current_user.exchange_institution.nil? %>
            <li class="<%= 'active' if params[:controller] == 'institutions' %>">
              <%= link_to current_user.exchange_institution.name, institution_path(current_user.exchange_institution), class: "truncate" %>
            </li>
          <% end %>
        <% else %>
          <li>&nbsp;</li>
        <% end %>
      </ul>
      <ul class="right">
        <% if user_signed_in? %>
          <% if current_user.username? %>
            <li class="<%= 'active' if params[:controller] == 'messages' %><%= 'active' if params[:controller] == 'conversations' %>"><%= link_to "Messages", conversations_path %></li>
            <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to current_user.full_name, user_path(current_user.username), class: "truncate" %></li>
          <% end %>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Log In with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>
    </div>

    <%# <div class="nav-wrapper container"> %>
    <%#   <ul id="nav-mobile" class="side-nav"> %>
    <%#     <li><a href="#">Navbar Link</a></li> %>
    <%#   </ul> %>
    <%#   <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a> %>
    <%# </div> %>
  </nav>

</div>
