<div class="navbar-fixed">
  <nav class="primary-color" role="navigation">
    <div class="nav-wrapper container">
      <ul class="left hide-on-med-and-down valign-wrapper">
        <li><%= link_to image_tag("exchangehunt_logo_mascot_white.png", :alt => "Exchange Hunt Mascot Icon", :class => "valign"), root_path %></li>
        <!--<li><%= link_to "Home", root_path, class: "truncate" %></li>-->
        <% if user_signed_in? %>
          <% if current_user.home_institution? %>
            <li class="<%= 'active' if params[:controller] == 'institutions' %>"><%= link_to current_user.home_institution, user_path(current_user.home_institution), class: "truncate" %></li>
          <% end %>
          <% if current_user.exchange_institution? %>
            <li class="<%= 'active' if params[:controller] == 'institutions' %>"><%= link_to current_user.exchange_institution, user_path(current_user.exchange_institution), class: "truncate" %></li>
          <% end %>
        <% else %>
          <li>&nbsp;</li>
        <% end %>
      </ul>

      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <li class="<%= 'active' if params[:controller] == 'messages' %>"><%= link_to "Messages", user_path(current_user.username) %></li>
          <% if current_user.username? %>
            <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to current_user.full_name, user_path(current_user.username), class: "truncate" %></li>
          <% end %>
          <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Log In with Facebook", user_omniauth_authorize_path(:facebook) %></li>
        <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
