<!DOCTYPE html>
<html>
  <head>
    <title>ExchangeHunt</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <h1>ExchangeHunt</h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <hr />
      <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
      <hr />
    <% end %>

    <%= yield %>

    <hr />

    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>


    <!--  Facebook SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
