<!DOCTYPE html>
<html>
  <head>
    <title>ExchangeHunt</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' unless current_page?(root_path) && current_user == nil %>
    <%= yield %>
    <%= render 'layouts/footer'%>
    <%= render 'shared/facebook_sdk' %>
    <%= render('shared/google_analytics') if Rails.env.production? %>
  </body>
</html>
