<!DOCTYPE html>
<html>
  <head>
    <title>ExchangeHunt</title>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css", :cache => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.4.min.js" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
    <% end %>

    <%= render 'layouts/header'%>
    <%= yield %>
    <%= render 'layouts/footer'%>

    <!--  Facebook SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= ENV['FACEBOOK_APP_ID'] %>,
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>
